input, select, textarea{
    width:195px;
    border:10px solid #ccc;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}

body{
    font-family: sans-serif;
    display: flex;
    min-height:100vh;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background: linear-gradient(180deg, #FF7200, #F79C60,#FFEF00);
    margin-top: 2vh;
    margin-bottom: 2vh;
}

      /* mexendo no box de select, mas apagar caso nao de certo */

form .user-details .selecao{
        margin-bottom: 15px;
        width:100%;
    }
    
.user-details .input-box .custom-select{
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }

.user-details select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

      /* mexendo no box de select, mas apagar caso nao de certo */


section
{
  padding: 30px;
}

section img{
    display: block;
  height: 128px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px; 
}

.container .title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content:'';
    position: absolute;
    margin-bottom: -1vh;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #FF7200;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#FF7200;
}


form .button{
    height: 45px;
    margin : 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;   
    letter-spacing: 1px;
    border-radius: 5px;
    color: rgb(32, 32, 32);
    background: #FF7200;
}

@media (max-width: 700px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form user-details{
        max-height: 300px;
        overflow-y:scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}